---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="s:black md:text-red-500">
		<!-- FOTO -->
		 <div>
			<div>
				<img src="" alt="FOTO">
			</div>
		 </div>
		<!-- Titulo y texto -->
		<div>
			<div>
				LA BODA DE
			</div>
			<div>
				Leslie & Héctor
			</div>
			<div>
				TE INVITAMOS A CELEBRAR NUESTRA UNIÓN ETERNA
			</div>
		</div>
		<!-- Fecha -->
		<div>
			<div>OCT | SAB 17 | 2026</div>
		</div>
		<!-- UBICACION -->
		 <div>
			<div>TERRAZA CALINDA</div>
		 </div>
	</body>
</html>
